:root{
  --purple-color: #4461F2;
  --blue-color: #0076FF;
  --dark-color: #163668;
  --yellow-color: #FFC54D;
  --sky-color: #47B5FF;
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
}